---
// https://iconify.design
const { platform, url} = Astro.props;

---

{/* MAILTO */}
{platform=="mail" && 
  <a href={url} class="icon envelope">
    <iconify-icon icon="uiw:mail" width="31" height="25"></iconify-icon>
  </a>
}

{/* GITHUB */}
{platform=="github" && 
  <a href={url} class="icon github" target="_blank">
    <iconify-icon icon="simple-icons:github" width="28" height="27"></iconify-icon>
  </a>
}

{/* NOTION */}
{platform=="notion" && 
  <a href={url} class="icon notion" id="notion" target="_blank">
    <iconify-icon icon="simple-icons:notion" width="28" height="27"></iconify-icon>
  </a>
}

{/* MY ANIME LIST */}
<!-- {platform=="notion" && 
  <a href={url} class="icon mal" id="mal" target="_blank">
    <iconify-icon icon="simple-icons:myanimelist" width="35" height="25"></iconify-icon>
  </a>
} -->

{/* Goodreads */}
<!-- {platform=="notion" && 
  <a href={url} class="icon goodreads" id="goodreads" target="_blank">
    <iconify-icon icon="fa6-brands:goodreads" width="28" height="25"></iconify-icon>
  </a>
} -->

<style>
    .icon {
      color: black
    }

    .icon:hover {
      color: var(--color-theme);
    }
</style>