---
import ProjectLinks from "./ProjectLinks.astro";
// import { Image } from 'astro:assets';

interface Props {
	title: string;
	date: string;
	summary: string;
  image: string | undefined; 
  project: object;
  stack: string[];
  tags: string[];
  url: string | undefined;
  isMoreDetail: boolean;
  body: string;
  slug: string;    
}

const {  title, date, summary, stack, tags, image, body, slug, url, isMoreDetail, project} = Astro.props;
---

<div id="project-card" class="wrapper home">
    <div class="collapsible-projects">
        <span class="project-date">{date}</span>
        <details>
            <summary>
                <span  class="project-title">{title}</span>
                <div class="project-stack">{tags.join(", ")} | {stack.join(", ")}</div>
            </summary>

            <div class="project-content">
              {/* Renders project link, if url field not empty */}
              <!-- <a class="project-url" href={url}  target="_blank">{url}</a> -->
              <div class="link-project">{url && <ProjectLinks platform="github" url={url}  />}</div>

              <p>{summary}</p>

              {/* If project has more details show the page link and hide the body content 
                  else show the body of the MD file */}
              {isMoreDetail ?
                <i>Click <a href={`/posts/${slug}`}><b>here</b></a> for more details on this project</i>
                : <Fragment set:html={body} />
              }
              <br>
              {/* Renders image, if image field not empty */}
              {image && <img src={`/src/content/images/${image}`} alt="Project image"/>}
            </div>
        </details>
    </div>
</div>

<style>
    .project-url {
      color: white;
    }
    hr {border: 1px solid white;}

    a:link { 
      text-decoration-line: underline;
      color: black;}
    a:visited { text-decoration: none;color: black; }
    a:hover { 
      background:  var(--color-lilac);
      text-decoration: line-through;
      text-decoration-thickness: 1px; } 
    a:active { text-decoration: none; color: black; }  

    .wrapper {
      min-height: var(--wrapper-height);
      place-items: center;
      margin: 1rem 3rem 0;
    }
    .wrapper {
        margin: 1rem !important;
        /* https://stackoverflow.com/questions/18694802/how-to-get-a-wrapper-div-to-fill-100-of-a-browsers-height-regardless-of-the */
    }
    .home {
      justify-content: left;
    }
    .project-title {
        font-family: var(--font-header);
        font-size: 19px;
    }
    .project-content {
        font-family: var(--font-text);
    }
    .project-stack {
        font-family: var(--font-text);
        font-style: italic;
        font-size: 14px;
    }
    .project-date {
        font-family: var(--font-text);
        font-size: 13px;
    }
    .collapsible-experiences, .collapsible-projects {
      color: black;
      cursor: pointer;
      padding: 18px;
      border: none;
      border-radius: 0;
      text-align: left;
      outline: none;
      font-size: 15px;
    }
    .collapsible-projects {
      background-color: var(--color-lilac);
    
    }
    /* Doesn't work on Safari */
    summary {      
      font-size: 25px;
      list-style-type: '[+] ';
    }
    details[open] > summary {
      list-style-type: '[−] ';
    }
</style>